/* General Styles
-------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext);
html {
  position: relative;
  min-height: 100%;
}
body {
	margin-top:50px;
}

html, body, h1, h2, h3, h4, h5, h6, p, span, input, button {
	font-family:'Open Sans','sans-serif';	
}
.footer {
  margin-top:170px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.flash {
	cursor:pointer;	
}

.flash > .container h3 {
	padding:20px 0;
	margin:0;
}


/* Custom page CSS
-------------------------------------------------- */

body .page-header > h1 {
	margin-top:90px;
}

body .navbar-default {
	border-bottom:none;
}

.breadcrumb-holder {
	padding-top:10px;	
}

.breadcrumb-holder .breadcrumb {
	background:none;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  text-align:center;
  font-size:12px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
