/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
	margin-top:50px;
}
.footer {
  margin-top:170px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.flash {
	cursor:pointer;	
}

.flash > .container h3 {
	padding:20px 0;
	margin:0;
}


/* Custom page CSS
-------------------------------------------------- */

body .page-header > h1 {
	margin-top:120px;
}

body .navbar-default {
	border-bottom:none;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  text-align:center;
  font-size:12px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
