/* General Styles
-------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext);

html, body, h1, h2, h3, h4, h5, h6, p, span, input, button {
	font-family:'Open Sans','sans-serif';	
}

html {
  position: relative;
  min-height: 100%;
}

code {
  font-size: 80%;
}

.footer {
  margin-top:170px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* [widget:flash]
-------------------------------------------------- */

.flash {
	cursor:pointer;	
}

.flash > .container h3 {
	padding:20px 0;
	margin:0;
}

/* [widget:breadcrumb]
-------------------------------------------------- */

.breadcrumb-holder {
	padding-top:10px;	
}

.breadcrumb-holder .breadcrumb {
	background:none;
}

/* [block:nav]
-------------------------------------------------- */


body {
	margin-top:50px;
}

body .navbar-default {
	border-bottom:none;
}


/* Custom page CSS
-------------------------------------------------- */

body .page-header > h1 {
	margin-top:90px;
}

